.mod-body .upload-ico{background-image: url(../img/2x/upload-ico@2x.png)!important;background-size: 100% 100%!important;}
.mod-body .upload-area:hover .upload-ico{background-image: url(../img/2x/upload-ico-hover@2x.png)!important;}
.mod-nav .txt-link#contact-us{background-image: url(../img/2x/ico-contact@2x.png)!important;background-size: 100% 100%!important;}
